<!-- Review Block -->
<div class="relative flex items-start space-x-4">
    <!-- Avatar -->
    <div class="absolute sm:relative w-12 h-12 rounded-full bg-gray-200 flex items-center justify-center text-sm font-bold">
        MS
    </div>

    <!-- Content -->
    <div class="flex-1">
        <!-- Reviewer Info -->
        <div class="flex flex-col ml-16 sm:ml-0">
            <div class="flex items-center space-x-1">
                <svg class="text-(--footer-secondary)" width="16" height="16" viewBox="0 0 20 20">
                    <path d="M10 15l-5.878 3.09 1.122-6.545L.488 6.91l6.561-.955L10 0l2.951 5.955 6.561.955-4.756 4.635 1.122 6.545z" stroke="none"></path>
                </svg>
                <span class="font-semibold mr-2">5.0</span>
                <span>Martin S.</span>
            </div>

            <div class="text-sm mt-0.5">DE, July 8, 2025</div>
        </div>

        <!-- User Comment -->
        <div class="mt-4 text-sm text-gray-800">
            <p><strong>Martin S. Recommends this product</strong></p>
            <p>1A, so stellt man sich den Kauf einer Uhr vor! Der Verkäufer findet definitiv einen Platz in meiner Favoritenliste</p>
        </div>

    </div>
</div>